@import url("https://use.typekit.net/tiu7bic.css");

// font-sizes
$regular_text: 2.5vw;
$subtitle: 4vw;
$section_title: 6vw;
$sub_text: 2vw;

// colors
$gray: #ababab;
$primary: rgb(22, 22, 22);

body {
    font-family: mundial, sans-serif;
    font-weight: 200;
}

@mixin tag {
    font-size: 12px;
    text-align: center;
    padding: 5px 8px;
    margin: 3px;

    border-radius: 25px;
    border: 1px solid rgba(77, 77, 77, 0.5);
    background-color: rgba(141, 141, 141, 0.1);
}

@mixin link {
    /* underline on hover animation */
    &:before {
        content: "";
        position: absolute;
        width: 0;
        height: 7px;
        border-radius: 25px;
        bottom: 0;
        left: 0;
        background-color: #333;
        visibility: hidden;
        transition: all 0.3s ease-in-out;
    }

    &:hover:before {
        visibility: visible;
        width: 100%;
    }
}

body.light-mode {
    background-color: #f1f1f1;
    color: #333;
    transition: background-color 0.3s ease;
}

body.dark-mode {
    background-color: #1a1919;
    color: #999;

    a {
        color: #999!important;
        &:before {
            background-color: #999!important;
        }
    }

    svg {
        color: #999;
    }

    .links {
        a {
            color: #999!important;
            border-color: #999!important;
            background-color: transparent!important;

            &:hover {
                background-color: #999!important;
                color: #333!important;
                border-color: #333!important;

                svg {
                    fill: #000;
                }
            }
        }
    }

    .react-carousel-responsive__control {
        color: #999!important;
    }

    #resume_container div img {
        filter: brightness(60%);
    }
}

#dark_mode_toggle_btn {
    margin-top: 10vh;
    width: 80vw;
    height: 50px;
    text-align: end;
}

#about_container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    img {
        min-width: 340px;
        width: 27vw;
    }

    div {
        margin-left: 30px;
        margin-top: 30px;
        width: 25%;

        h1 {
            font-size: 4vw;
            margin: 0;
        }

        ul {
            list-style: none;
            padding: 0;
    
            li {
                font-size: 2.5vw;
                font-weight: 300;
                padding: 5px;

                a {
                    font-weight: 600;
                    text-decoration: none;
                    color: #333;
                }
            }
        }
    }
    
}

#projects_container, #experience_container {
    margin-top: 15vh;
    h1 {
        padding-top: 10vh;
        text-align: center;
        font-size: $section_title;
    }
}

.project_list, .experience_list {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-top: 75px;
}

.project {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    margin-bottom: 75px;

    img {
        width: 17vw;
        margin-right: 50px;
    }

    h2 {
        font-size: $subtitle;

        a {
            color: #333;
            position: relative;
            padding: 3px;
            top: 2px;
            margin-left: 10px;
            @include link;

            &:first-of-type {
                margin-left: 20px;
            }

            svg {
                width: 40px;
                height: 40px;
            }

        }
    }
    
    .content {
        width: 40%;
    }

    .description {
        font-size: $regular_text;
    }

    .tags {

        color: $gray;
        font-size: $regular_text;
        font-style: italic;

    }
}

.experience_item {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;

    margin-bottom: 75px;
    width: 40%;

    &_main {
        font-size: $subtitle;
        font-weight: 600;
        padding: 10px;
    }

    &_duration {
        font-size: $regular_text;
        padding: 10px;
        color: $gray;
    }

    &_description {
        font-size: $regular_text;
        padding: 10px;
    }
}

.navbar {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

    margin-top: 20px;
    margin-left: 40px;
}

.navItem {
    padding: 3vw; 
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    &:hover {
        cursor: pointer; 
    }
    
    a {
        right: 20px;
        position: relative;
        font-size: 4.5vw;
        font-weight: 600;
        color: #333;
        text-decoration: none;
        padding-bottom: 5px;

        @include link;
    }
}

#resume_container {
    text-align: center;
    margin-top: 5vh;
    padding-top: 10vh;

    h1 {
        font-size: $section_title;
    }

    div {
        margin-top: 75px; 
    
        img {
            min-width: 350px;
            width: 60vw;
            border-radius: 10px;
        }
    
        a {
            @include link;
            padding-bottom: 20px;
            font-size: $regular_text;
            font-weight: 500;
            position: relative;
            text-decoration: none;
            color: $primary;
            display: block;
            margin: auto;
            width: fit-content;
            padding-top: 20px;

            svg {
                padding: 5px;
            }
            
        }

    }

}

#archive_container {
    margin-top: 5vh;
    text-align: center;

    h1 {
        padding-top: 10vh;
        width: 30%;
        line-height: $section_title/1.75;
        margin: auto auto 75px auto;
        font-size: $section_title;
    }
    
    div {
        margin: auto;
        font-size: $regular_text;
        width: 80vw;
        margin-bottom: 30px;

        .archive_item {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;

            border-bottom: 2px solid #333;

            h3 {
                width: 10%;
                line-height: $regular_text/1.5;
                padding: 0px 20px;
                text-align: left;
                font-size: $regular_text;
            }

            p {
                width: 50%;
                text-align: justify;
                margin-left: 4%;
            }

            .tags {
                width: 12%;
                margin-left: 6%;
                font-size: $sub_text;
                color: $gray;
                font-style: italic;
                text-align: left;

            }

            div {
                width: 12%;
                margin: 0px;
                a {
                    padding: 5px 0px;
                    color: #333;
                    position: relative;
                    text-decoration: none;
                    @include link;
                }

            }
        }
    }

    a {
        text-decoration: none;
        padding-bottom: 20px;
        position: relative;
        font-size: $regular_text;
        text-decoration: none;
        color: $primary;

        svg {
            padding: 0px 20px 0px 20px;
        }

        @include link;
    }

}

#art_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20vh;

    h1 {
        font-size: $section_title;
    }

    div {
        width: 60vw;
        min-width: 370px;
        outline: none;
        margin-top: 10px;
        margin-bottom: 5px;

        .art_item {
            display: flex!important;
            flex-direction: row;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
    
            img {
                min-width: 280px;
                width: 50vw;
                border-radius: 10px;
            }

        }
    }

    a {
        text-decoration: none;
        padding-bottom: 20px;
        font-size: $regular_text;
        font-weight: 500;
        color: $primary;
        position: relative;
        margin-top: 20px;

        @include link;
    }
}

// Slider
.react-carousel-responsive__control {
    color: #333!important;
    background: none!important;
    font-size: 28px!important;
    padding: 10px;
}

.react-carousel-responsive__controlPrev, .react-carousel-responsive__controlNext {
    font-size: 75px !important;
}

#contact_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 110vh;

    h1 {
        font-size: $section_title;
    }

    ul {
        list-style: none;
        font-weight: 500;

        li {
            margin: 10px;
            display: flex;
            align-items: center;
            font-size: $subtitle;

            a {
                text-decoration: none;
                padding: 20px;
                color: #333;
                position: relative;

                @include link;
            }
        }
    }
}